@tailwind base;
@tailwind components;
@tailwind utilities;

.bgnav{
    background: rgba(228, 226, 214, 1);
}

body{
    background: rgba(224, 212, 197, 1);
}

.textnav{
    color: rgba(112, 65, 22, 1);
}
